[submodule "pck-transcripts"]
	path = pck-transcripts
	url = https://github.com/hermannmarkus/pck-transcripts/
[submodule "ableplayer"]
	path = ableplayer
	url = https://github.com/ableplayer/ableplayer
[submodule "jsdifflib"]
	path = jsdifflib
	url = https://github.com/cemerick/jsdifflib
